{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Cors": {
    "Origins": [
      "https://tu-app.vercel.app",
      "https://*.vercel.app"
    ]
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=tu-servidor-sql;Database=MroLiteDb;User Id=sa;Password=TuPassword;TrustServerCertificate=True;"
  }
}

